html{
    font-size: 62.5%;
}
body{
    background-color: #785630;
    font-family: "Zen Old Mincho",sans-serif;
}
.container{
    background-color: #FFFACD;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}
.nav ul{
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 16px;
    gap: 160px;
}
.nav a{
    text-decoration: none;
    font-size: 3rem;
    color: #FC9420;
}
.resultWrap{
    width: 720px;
    height: 960px;
    border: #785630 solid 3px;
    margin: 0 auto;
}
h2{
    color: #7C5830;
    font-size: 8rem;
    font-weight: 100;
    text-align: center;
    margin-top: 16px;
}
h3{
    color: #7C5830;
    font-size: 3rem;
    font-weight: 400;
}
input{
    border-bottom: 1px solid #7C5830;
    font-size: 4rem;
    width: 320px;
    color: #7C5830;
}
input::placeholder{
    color:rgba(124, 88, 48, 0.50);
    text-align: center;
}
.result{
    margin-top: 160px;
}
.readworkWrap{
    display: flex;
    margin-left: 48px;
    gap: 40px;
}
.pageWrap{
    display: flex;
    margin-top: 120px;
    margin-left: 50px;
    p{
        color: #7C5830;
        font-size: 3.2rem;
    }
}
.wordWrap{
    margin-top: 120px;
    margin-left: 48px;
}
.unknown{
    text-align: center;
    margin-top: 40px;
}
button{
    display: block;
    margin: 64px auto;
    font-size: 4rem;
    color: #7C5830;
    background-color: rgba(252, 148, 32, 0.30);
    padding: 6px 64px;
    text-align: center;
    border-radius: 20px;
    display: flex;
}
button:hover{
    background-color: #FC9420;
}






















.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-bottom: 40px; 
    margin-top: 40px;
    gap: 48px;      
    border-top: #7C5630 1px solid;
    li{
        border-right: #7C5630 1px solid;
        padding-right: 40px; 
    }
    a{
        font-size: 3rem;
        color: #7C5630;
        text-decoration: none;
    }
}
.footer li:last-child{
    border-right: none;
}